<div class="container">
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title text-center">Isobutylene</h5>
      </div>
      <img
        class="card-img-top"
        src="../../assets/img/isobutylene.png"
        alt="Card image cap"
      />
      <div class="card-body"></div>
      <div class="card-footer">
        <a [routerLink]="['/products/8255']" class="btn btn-secondary btn-block"
          >Products</a
        >
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title text-center">Ethylene</h5>
      </div>
      <div class="card-body">
          <img
            class="card-img-top"
            src="../../assets/img/ethylene.png"
            alt="Card image cap"
          />
      </div>
      <div class="card-footer">
        <a
          [routerLink]="['/products/6325']"
          class="btn btn-secondary btn-block"
          >Products</a
        >
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h5 class="card-title text-center">Phenol</h5>
      </div>
      <img
        class="card-img-top"
        src="../../assets/img/phenol.png"
        alt="Card image cap"
      />
      <div class="card-body"></div>
      <div class="card-footer">
        <a [routerLink]="['/products/996']" class="btn btn-secondary btn-block"
          >Products</a
        >
      </div>
    </div>
  </div>
</div>